#parse("/velocity/layout.vm")
#@mainLayout()
<main>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script>
        $(document).ready(function () {

            function fetchNotes() {
                $.ajax({
                    type: "GET",
                    url: "http://localhost:7000/chats",
                    success: function (response) {
                        $('#chatTable').empty();
                        $.each(response, (i, art) => {
                            let artRow = `<div class="border-b border-grey-lighter pb-8"><a href="/autor/chat/${art}" class="block font-body text-lg font-semibold text-primary transition-colors hover:text-green dark:text-white dark:hover:text-secondary"> ${art} </a></div>`;
                            $('#chatTable').append(artRow);
                        });
                    },
                    error: function (e) {
                        alert("ERROR: ", e);
                        console.log("ERROR: ", e);
                    }
                });
            }

            $('button').on('click', function () {
                fetchNotes();
            });

            (function () {
                // get first-page at initial time
                fetchNotes();
            })();
        });
    </script>
    <div>
        <div class="container mx-auto">
            <div class="py-16 lg:py-20">
                <div>
                    <img src="/img/icon-blog.png" alt="icon envelope"/>
                </div>

                <h1
                    class="pt-5 font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl">
                    Chat Activos
                </h1>

                <div class="pt-3 sm:w-3/4">
                    <button
                        class="px-6 py-2 text-sm font-semibold rounded-md shadow-md text-sky-100 bg-sky-500 hover:bg-sky-700 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300">
                        Refresh
                    </button>
                </div>

                <div id="chatTable" class="pt-8 lg:pt-12"></div>
            </div>
        </div>
    </div>
</main>
#end