#parse("/velocity/layout.vm")
#@mainLayout()
    <div>
      <div class="flex flex-col items-center min-h-screen pt-6 bg-white sm:justify-center sm:pt-0 dark:bg-primary">
        <div class="w-full px-16 py-20 overflow-hidden bg-white rounded-lg lg:max-w-4xl dark:bg-primary">
          <div class="mb-4">
            <h1 class="font-body text-4xl font-semibold text-primary dark:text-white md:text-5xl lg:text-6xl">
              Create Post
            </h1>
          </div>

          <div class="w-full px-6 py-4 bg-white dark:bg-primary">
            <form method="POST">
              <!-- Title -->
              <div>
                <label class="block text-sm font-bold text-gray-700 dark:text-white" for="titulo">
                  Title
                </label>
                #if($article)
                  <input
                          class="block w-full mt-1 border border-primary bg-grey-lightest rounded-md shadow-sm font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary"
                          type="text" name="titulo" id="titulo" value="$article.getTitulo()" placeholder="180" required/>
                #else
                  <input
                          class="block w-full mt-1 border border-primary bg-grey-lightest rounded-md shadow-sm font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary"
                          type="text" name="titulo" id="titulo" value="" placeholder="180" required/>
                #end
              </div>

              <!-- Description -->
              <div class="mt-4">
                <label class="block text-sm font-bold text-gray-700 dark:text-white" for="descripcion">
                  Description
                </label>
                #if($article)
                  <textarea name="descripcion" id="descripcion"
                            class="block w-full mt-1 border border-primary bg-grey-lightest rounded-md shadow-sm font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary"
                            rows="4" placeholder="400" required>$article.getCuerpo()</textarea>
                #else
                  <textarea name="descripcion" id="descripcion"
                            class="block w-full mt-1 border border-primary bg-grey-lightest rounded-md shadow-sm font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary"
                            rows="4" placeholder="400" required></textarea>
                #end
              </div>

              <div class="mt-4">
                <label class="block text-sm font-bold text-gray-700 dark:text-white" for="etiquetas">
                  Etiquetas
                </label>
                #if($article)
                  <select
                        id="etiquetas"
                        name="etiquetas[]"
                        multiple="multiple"
                        placeholder="Seleccione etiquetas..."
                        autocomplete="off"
                        class="block w-full mt-1 border border-primary bg-grey-lightest rounded-md shadow-sm font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary"
                        required>
                    #foreach($etiqueta in $etiquetas)
                      #if($article.getEtiquetas($article.getId()).contains($etiqueta))
                        <option value="$etiqueta.getId()" selected="selected">$etiqueta.getEtiqueta()</option>
                      #else
                        <option value="$etiqueta.getId()">$etiqueta.getEtiqueta()</option>
                      #end
                    #end
                  </select>
                #else
                  <select
                          id="etiquetas"
                          name="etiquetas[]"
                          multiple="multiple"
                          placeholder="Seleccione etiquetas..."
                          autocomplete="off"
                          class="block w-full mt-1 border border-primary bg-grey-lightest rounded-md shadow-sm font-body font-light text-primary placeholder-primary transition-colors focus:border-secondary focus:outline-none focus:ring-2 focus:ring-secondary dark:border-secondary"
                          required>
                    #foreach($etiqueta in $etiquetas)
                      <option value="$etiqueta.getId()">$etiqueta.getEtiqueta()</option>
                    #end
                  </select>
                #end
              </div>

              <div class="flex items-center justify-start mt-4 gap-x-2">
                <button type="submit"
                  class="px-6 py-2 text-sm font-semibold rounded-md shadow-md text-sky-100 bg-sky-500 hover:bg-sky-700 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300">
                  Save
                </button>
                <a href="/autor/articulosCrud" class="px-6 py-2 text-sm font-semibold text-gray-100 bg-gray-400 rounded-md shadow-md hover:bg-gray-600 focus:outline-none focus:border-gray-900 focus:ring ring-gray-300">Cancelar</a>
              </div>
            </form>
            <script src="https://cdn.jsdelivr.net/npm/tom-select/dist/js/tom-select.complete.min.js"></script>
            <script>
              new TomSelect('#etiquetas');
            </script>
          </div>
        </div>
      </div>
    </div>
#end